In [1]:
#expamle 1
#wap to print the hi tech string in reverse order.
x="hi-tech"
print(x[6],x[5],x[4],x[3],x[2],x[1],x[0])

h c e t - i h

In [4]:
#exapmle 2
#wap to perimeter of area of rectangle with height of 7 inch & width of 5 inch
height=7
width=5
print("value of height is={}".format(height))
print("value of wudtg is={}".format(width))
per=2*(height+width)
print("area of rectangle is=",per)

value of height is=7
value of wudtg is=5
area of rectangle is= 24

In [3]:
#expample 3
#wap to input ddays and convert into years weeks and days
days=int(input("Enter the days=>"))
year=days/365
month=days/30
weeks = days/7
print('days to months',month)
print('days to week',weeks)
print('days to year',year)

Enter the days=>365
days to months 12.166666666666666
days to week 52.142857142857146
days to year 1.0

In [6]:
#example 4
#wap to input two itemms weight and number of purchase and calculate the average value of items 
item1=int(input('Enter the 1 item=>'))
item2=int(input('Enter the 2 item=>'))

total=item1+item2
per=2
ans=total/per
print('total avgrage is=',ans)

Enter the 1 item=>25
Enter the 2 item=>15
total avgrage is= 20.0

In [7]:
#exapmle 5
#wap to input 4 digit number and print the revers output
x = int(input("enter the 1st value=>"))
y = int(input("enter the 2nd value=>"))
z = int(input("enter the 3rd value=>"))
w = int(input("entre the 4th value=>"))
 
print("\n{} {} {} {}".format(w,z,y,x))

enter the 1st value=>10
enter the 2nd value=>20
enter the 3rd value=>30
entre the 4th value=>40

40 30 20 10